---
import db from "@/lib/db";
import { NOTIFICATION_HREF_MAP } from "@/components/Notifications";
import RootLayout from "@/layouts/RootLayout.astro";
import type { causedObjects } from "@/components/Notifications";

const id = Astro.params.id;

if (!id) {
  return Astro.redirect("/notifications");
}

const notification = await db.notification.findUnique({
  where: {
    id: id,
  },
});

if (!notification) {
  return Astro.redirect("/notifications");
}

if (notification.customLink) {
  return Astro.redirect(notification.customLink);
}

const getLinkFn = NOTIFICATION_HREF_MAP[notification.eventType];
if (!getLinkFn) {
  return Astro.redirect("/notifications");
}

const causedObj = notification.causedObjects
  ? (JSON.parse(JSON.stringify(notification.causedObjects)) as causedObjects)
  : {};
const redirectUrl = getLinkFn(causedObj);

await db.notification.update({
  where: { id },
  data: { readAt: new Date() },
});

return Astro.redirect(redirectUrl);
---

<RootLayout title="Redirecting...">
  <div class="flex h-screen flex-col items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold">Redirecting...</h1>
      <p class="text-xl">
        If you are not redirected automatically, please click <a href={redirectUrl}>here</a>.
      </p>
    </div>
  </div>
</RootLayout>
