---
import RootLayout from "@/layouts/RootLayout.astro";
import Page from "./page";
import db from "@/lib/db";
import type { Course, Class } from "@prisma/client";
import { createServerCaller } from "@/trpc/server";

const currentUser = Astro.locals.user;

const caller = await createServerCaller(Astro.request);

const { data: attendance } = await caller.attendance.getAttendanceOfAllStudents();

let courses = await db.course.findMany({
  where: {
    enrolledUsers: {
      some: {
        username: currentUser?.username || "",
      },
    },
  },
  include: {
    classes: true,
    createdBy: {
      select: {
        id: true,
        username: true,
        name: true,
        image: true,
        email: true,
        role: true,
        createdAt: true,
        updatedAt: true,
      },
    },
    _count: {
      select: {
        classes: true,
      },
    },
    courseAdmins: {
      select: {
        id: true,
        username: true,
        name: true,
        image: true,
        email: true,
        role: true,
        createdAt: true,
        updatedAt: true,
      },
    },
  },
});

courses.forEach((course: Course & { classes: Class[] }) => {
  course.classes.sort((a: any, b: any) => {
    return Number(a.createdAt) - Number(b.createdAt);
  });
});

if (currentUser?.role !== "INSTRUCTOR") {
  const publishedCourses = courses.filter((course) => course.isPublished);
  courses = publishedCourses;
}
---

<RootLayout title="Attendance">
  <div>
    <Page
      attendance={attendance}
      courses={courses}
      currentUser={currentUser?.role ?? ""}
      client:load
    />
  </div>
</RootLayout>
